# Question 1

In [1]:
one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"

print(one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

# Question 2

In [2]:
number1 = 15
number2 = 30

print("The result is {}".format(number1 * number2))

The result is 450

# Question 3

In [3]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def check_numbers(numbers):
    print(f"Given list: {numbers}")
    result = numbers [0] == numbers [-1]
    print(f"result is {result}")

check_numbers(numbers_x)
check_numbers(numbers_y)

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

# Question 4

In [4]:
numbers = [10,20,33,46,55]

print (f"Given list is {numbers}")
print("\nDivisible by 5")

for index, num in enumerate(numbers):
    if num % 5 == 0:
        print (num)

Given list is [10, 20, 33, 46, 55]

Divisible by 5
10
20
55

# Question 5

In [5]:
str_x = "Anjali is good developer. Anjali is a writer"
print(f"Anjali appeared {str_x.count('Anjali')} times")

Anjali appeared 2 times

# Question 6

In [6]:
for i in range (1,6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Question 7

In [7]:
for i in range (1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# Question 8

In [8]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
temp_array = np.array(Temp_K)

temp_celsius = temp_array - 273.15

print("Temperature in Celsius:")
print(temp_celsius)

Temperature in Celsius:
[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

# Question 9

In [2]:
import pandas as pd #importing pandas 

data = {
    'Student': ['Tommy', 'Fred', 'Gail', 'Husam', 'Randy', 'Ariel'],
    'Hair_Color': ['Brown', 'Grey', 'Blonde', 'Light Brown', 'Black and Brown', 'Brown'],
    'Eye_Color': ['Hazel', 'Green', 'Blue', 'Brown', 'Hazel and Blue', 'Blue'],
    'Weight in Kilograms': ['60', '80', '76', '60', '88', '85']
}
df = pd.DataFrame(data)

df.index = range(1, len(df) + 1)

# printing out the entire dataframe as requested 
print("Entire DataFrame:")
print(df)

# We are going to be printing out he hair color
print("\nHair Color (Series):")
print(df['Hair_Color'])

# We are going to being printing out hte eye color
print("\nEye Color (DataFrame):")
print(df[['Eye_Color']])

# We will be matching the student and the kilograms
print("\nStudent and Weight DataFrame:")
print(df[['Student', 'Weight in Kilograms']])

# We are going to print out the secon
print("\nSecond to the fourth observations:")
print(df.loc[2:4])

Entire DataFrame:
  Student       Hair_Color       Eye_Color Weight in Kilograms
1   Tommy            Brown           Hazel                  60
2    Fred             Grey           Green                  80
3    Gail           Blonde            Blue                  76
4   Husam      Light Brown           Brown                  60
5   Randy  Black and Brown  Hazel and Blue                  88
6   Ariel            Brown            Blue                  85

Hair Color (Series):
1              Brown
2               Grey
3             Blonde
4        Light Brown
5    Black and Brown
6              Brown
Name: Hair_Color, dtype: object

Eye Color (DataFrame):
        Eye_Color
1           Hazel
2           Green
3            Blue
4           Brown
5  Hazel and Blue
6            Blue

Student and Weight DataFrame:
  Student Weight in Kilograms
1   Tommy                  60
2    Fred                  80
3    Gail                  76
4   Husam                  60
5   Randy                  88
6   Ariel                  85

Second to the fourth observations:
  Student   Hair_Color Eye_Color Weight in Kilograms
2    Fred         Grey     Green                  80
3    Gail       Blonde      Blue                  76
4   Husam  Light Brown     Brown                  60