In [8]:
import pandas as pd #importing pandas

In [9]:
# Using a dictory and putting in the context of Students, Hair, Eye, and Weight

data = {
    'Student': ['Tommy', 'Fred', 'Cratus', 'Husam', 'Randy', 'Ariel'], # Added my name "Husam" to student
    'Hair_Color': ['Brown', 'Grey', 'Blonde', 'Light Brown', 'Black and Brown', 'Brown'],  # Added Light Brown
    'Eye_Color': ['Hazel', 'Green', 'Blue', 'Brown', 'Hazel and Blue', 'Blue'],  # Added last Value
    'Weight in Kilograms': ['60', '80', '76', '60', '88', '85']
}
df = pd.DataFrame(data) #we are going to convery our dict into a DataFrame (Pandas)

In [10]:
df.index = range(1, len(df) + 1) #We are going to be creating a sequence

In [11]:
df

  Student       Hair_Color       Eye_Color Weight in Kilograms
1   Tommy            Brown           Hazel                  60
2    Fred             Grey           Green                  80
3  Cratus           Blonde            Blue                  76
4   Husam      Light Brown           Brown                  60
5   Randy  Black and Brown  Hazel and Blue                  88
6   Ariel            Brown            Blue                  85

In [12]:
df ['Hair_Color']

1              Brown
2               Grey
3             Blonde
4        Light Brown
5    Black and Brown
6              Brown
Name: Hair_Color, dtype: object

In [13]:
df [['Eye_Color']]

        Eye_Color
1           Hazel
2           Green
3            Blue
4           Brown
5  Hazel and Blue
6            Blue

In [14]:
df[['Student', 'Weight in Kilograms']]

  Student Weight in Kilograms
1   Tommy                  60
2    Fred                  80
3  Cratus                  76
4   Husam                  60
5   Randy                  88
6   Ariel                  85

In [15]:
df[2:5]

  Student       Hair_Color       Eye_Color Weight in Kilograms
3  Cratus           Blonde            Blue                  76
4   Husam      Light Brown           Brown                  60
5   Randy  Black and Brown  Hazel and Blue                  88